CSS 
CSS3 cascade style sheet

Para comentar seleccionamos comentario y atajo shift + alt + A 

Primero se debe vincular la hoja de estilos a la pagina html en el tag de head
<link rel="stylesheet" type="text/css" href="Carpeta/Archivo.css">

La estructura básica de CSS es:

selector{
	propiedad:valor;
}

	Selector: Elemento a modificar su formato
	Propiedad: Parámetro a modificar
	Valor: resultado de la propiedad

EL body suele venir con un margen predeterminado indeseado, se resetea la prop con margin: 0;

Height y width son medidas del contenido.

Propiedades del background:
	Background-image: url('######')
	
	Background-size: siempre se usa después de la prop. background
	Valor= Cover -- La foto se adapta al ancho del fondo de pantalla
	Valor= Auto -- Mantiene el tamaño original de la imagen
	
	Orden abreviatura Background: 
			color urlImagen repeat ubicar(eje x) ubicar(eje y) / bckgrsizeX bckgrsizeY
				* Siempre se debe ubicar de manera independiente el height del elemento

Overflow: ; -- Valor= (visible, hidden, scroll)
	Define como se verá un elemento que supera el tamaño de boxmodel que tiene a su disposición
	
Outline: ; borde externo al borde normal, mismos valores que la propiedad border

Propiedades del texto:
	Text-decoration: ; -- (línea debajo, a traves o arriba del texto)

	Text-shadow:  CorrimientoDerecha CorrimientoInferior Blur ColorSombra;
			Establece una sombra para el texto con los respectivos valores a definir
			/*Aplicable un sistema similar con la prop box shadow pero para divs.*/

	*Google fonts*

Propiedades de los links: 
El selector sedesigna como a: *estado del link* {}

Se debe respetar el siguiente orden para establecer dichos formatos
	a: link {}-- Sin visitar el sitio
	a: visited {} -- Sitio ya visitado
	a: hover {} -- Cursor del mouse sobre el link
	a: active {} -- Link siendo clickeado

Propiedades de las listas:    
	list-style-type: ; -- Define si es con puntos o numeros, etc
	list-style-position: ; (inside- Ubica la señalética de la lista dentro del margen del contenido)

Propiedades de tablas:
	Selector aplicable
		table, th, td {
		}
	Puede figurar un doble borde corregible con la propiedad en el selector table
		border-collapse: collapse;
	Combinas dos celas para un contenido con la propiedad
		colspan="número de celdas a combinar horizontamente"
		rowspan="número de celdas a combinar verticalmente"
	
	Selector usual
	table{}
	th,td{}
	
	Esimportante que el orden en el colocamos los selectores con sus seudoclases se respete ya que sino se desestimaran algunas
		:nth-child() => :hover
	
	Darle propiedades a filas o columnas en función de si se encuentran en una posición par o impar u otros parametros con la seudoclase de tr nth-child()
		tr:nth-child(valor)
			Los valores pueden ser odd (par) even (impar)

	Ver cambio de color cuando estemos sobre una celda y el ícono del dedo en el cursor
		tr:hover {
			background-color: valor;
			cursor: pointer;
		}

Propiedad de display:
		#ejemplo {
			display: block; /*Valor predeterminado, el elemento ocupa todo el ancho*/
			display: inline; /*Valor de la etiqueta span, reduce el tamaño del elemento al del contenido.
			No se le podra asignar la propiedad de width ni de height al lemento*/
			display: none; /*Desaparece el elemento, resultado identico a la prop: visibility:hidden; */
			display: inline-block; /*Similar a inline pero permite manipular ancho y alto de los elementos. Usualmente usado en los menus de navegación para darles uniformidad*/
		}

Propiedad para variar ancho:
		max-width: ; -- solo define el ancho maximo pero puede ser menos.

Propiedad para posicionar elementos:
		article {
			position: static; /*Valor predeterminado*/
			position: relative; /*Relativa a donde debiese estar posicionado este elemento, lo ubica a donde vos desees*/
			left: distancia a moverse desde la izquierda; 
			top: idem prop left;
			/*Estas dos propiedades pueden encimar elementos, existiendo tambien right y bottom*/
			position: fixed; /*Posición con respecto a lo que nosotros deberiamos estar viendo en el ordenador, se fija el elemento en la pantalla*/ 
			position: absolute; /*Se posiciona relativo a la etiqueta padre más cercana que tenga*/
			position: sticky; /*Mezcla entre relative y fixed*/
		}

Propiedad para hacer flotar elementos de html dentro del documento:
		Ubica los elementos con la propiedad en la ubicación que desees y los demas elementos en el lado contrario acomodandose con respecto al definido con float, en especial si recibe propiedades de ancho y alto. Aplica a divs.
		div.left {
			float: left;
		}
		div.right {
			float: right;
		}
	Permite alinear elementos uno al lado del otro si se les aplica la misma propiedad de float

Valores de Propiedades Padding y Margin:
	Propiedad: DespArriba DespDerecha DespAbajo DespIzquierda;
	Propiedad: DepArriba DespLaterales DespAbajo;
	Propiedad: DespVerticales DespLaterales;
	Propiedad: DespGeneral;

Centrar un elemento 
	Indicarle siempre un ancho menor al 100%. Centrará el elemento y no el contenido.
	p {
		width: 200px;
		margin: 0 auto;
	}
	Para el verticar se recurre al padding: DespVertical 0;


/*

Para centrar algo se utiliza adentro del style="text-align:center"

ejemplo
<p style="text-align:center">Parrafo</p>


Para cambiar el color del fondo se utiliza style="background-color:un color"

ejemplo, si queremos cambiar el fondo de un div, ponemos:
<div style="background-color="yellow>
	<p>Parrafo</p>
</div>
el fondo del div es amarillo




<SELECTORES>


Universales= *
Para seleccionar todos los elementos se pone un selector universal "*"
ejemplo
* {
	color: red;
}
en este caso, selecciona todas las propiedades y las pinta de un color





DE TIPO= elementos

Para seleccionar un elemento en específico ponemos el selector de tipo
ejemplo
h1 {
	color: red;
}
En este caso, selecciona solo la propiedad que queremos y la pinta de rojo


De clase

Se le agrega a una etiqueta de html la palabra class=""
Luego, en CSS, para seleccionar los que sean de clase se pone: .nombre de clase

ejemplo

Supongamos que decidimos ponerle un class al h2
quedaría en HTML
<h2 class="Subtítulo">Subtítulo</h2>
en CSS
.Subtítulo{ 
	color: red;
}

Esto sirve por el caso en el que tengamos muchos <p> por ejemplo, que seleccione los que queramos


De ID

Se le agrega a una etiqueta de HTML la palabra id=""
Luego en CSS, para seleccionarlo, se pone: #nombre de id

ejemplo
supongamos que decidimos ponerle un id al h2
quedaría en HTML
<h2 id="subtitulo">Subtítulo</h2>
en CSS
#subtitulo{
	color:green;
}

Esto sirve para seleccionar de forma más específica que la de class


DE ATRIBUTO

Se le agrega a una etiqueta de HTML un atributo cualquiera, por ejemplo Messi="el goat"
Luego en CSS, para seleccionarlo se pone: [Messi="el goat"]

ejemplo
supongamos que decidimos ponerle un atributo="algo" al button
quedaría en HTML
<button Messi="el goat">Seguinos para más información</button>
en CSS
[Messi="el goat"] {
	color:purple;
}

Esto tiene la misma función que el id



De PSEUDO CLASE


El elemento hover sirve para que cuando alguien tenga el mouse sobre una palabra, se pueda poner de un color

 p:hover{
	color: red;
}

en este caso cuando el mouse este en el párrafo, este se va a ver en rojo




<ESPECIFICIDAD>

Cuando se pone 2 veces un selection, siempre va a mostrar el ultimo

ejemplo

p{
	color: red;
}

p{
	color:blue;
}

En este caso, el parrafo va a ser azul en vez de rojo, porque fue lo ultimo


En el caso que pongamos un título y adentro una clase en HTML, si en CSS ponemos:

HTML:
<h2 class="color-rojo">Hola</h2>

CSS:
.color-rojo{
	color:red;
}

h2{
	color:blue;
}

En este caso, el subtítulo "hola" se va a ver en rojo, porque es más específico


Tambien se pueden hacer con los atributos o id, pero si hay un class y un atributo por ejemplo, será el ultimo el color

En el caso que haya un id y un class, se toma el id


En el caso que haya un style, se coloca directo en el HTML y se pone como style="" como si fuese un atributo
El style le gana a todo,
ejemplo
<h2 class="color-rojo" atributo="color-verde" id="color-violeta" style="color:yellow"></h2>
el subtitulo sera amarillo no importa en que orden este


!IMPORTANT:

el !important es lo que le gana literalmente a todo
ejemplo
<h1 style="color:red">Hola mundo</h1>

pero en CSS ponemos
h1{
	color:blue !important;
}
va a ser azul si o si



<METODOLOGIA BEM>

ejemplo, si en HTML ponemos esto

	<div class="form">
		<h2 class="form-h2">Preguntas?</h2>
			<p class="form-h2-p">Contactanos</p>
	</div>

en CSS, si quiero cambiar el color del div, pongo
.form{
	color:red;
}
en este caso, todo lo que está en el div, se cambia a color rojo

si quiero cambiar el color del h2, pongo
.form-h2{
	color:blue;
}
se cambia a azul

en el caso del p
.form-h2-p{
	color:yellow;
}
se cambia a amarillo



<UNIDADES>

Ya vimos la própiedad color,
font.size sirve para cambiar el tamaño de la letra

ejemplo
h2 {
	font-size: 30px
}
en este caso, cambia la letra del h2 a 30px(pueden ser px,mm,cm o pt)


además de px o cm, están los em, que su valor default es 16px
pero nosotros lo podemos cambiar con el contenedor, ejemplo

.h2{
	font-size:20px; 
}
.h2-p{
	font-size:2em;
}
en este caso, 1em vale 20px, y el párrafo va a valer 40px porque es 2em



Los viewports, son para personalizar una cantidad de pantalla que queremos editar

Se utiliza adentro de un selection por ejemplo
.class{
	background-color:#000;
	height:50vh;
	width:50vw;
}
dentro del height se pone cualquier numero y vh
dentro del width se pone cualquier numero y vw
en este ejemplo, un cuarto de la pagina va a ser negro



<PROPIEDADES DE TEXTO>

La propiedad font-family se utiliza para cambiar la tipografía del texto
ejemplo
.class{
	font-family: georgia;
}


La propiedad font size viene por defecto de 16px.

Podemos representar el color rojo con el nombre red, el hexadecimal #FF0000 y el RGB rgb(255,0,0)
